.landing-page {
  background-image: url('../src/images/landing-page-image.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.landing-page-overlay {
  background-color: rgba(0, 0, 0, .55);
  height: 100%;
}

.landing-page-divider {
  width: 125px;
  border-top: 2px solid #F8F9FA;
}

.vertical-center {
  display: flex;
  align-items: center;
  height: 100vh;
}

.rounded-button {
  border-radius: 25px;
}

.about-page {
  background-image: url('../src/images/daddy-daughter.jpg');
  background-position: top;
  background-size: cover;
  height: 100vh;
  margin-top: 50px;
}

.about-page-overlay {
  background-color: rgba(0, 0, 0, .7);
  height: 100%;
}

.about-tagline {
  position: absolute;
  top: 100px;
}

.news-feed {
  margin-top: 100px;
}

.footer {
  position: relative;
  bottom: 0;
}

.like:hover i {
  transform: scale(1.5);
  transition-duration: 0.3s;
}

.unlike:hover i {
  transform: scale(1.5);
  transition-duration: 0.3s;
}