.landing-page {
  background-image: url('../src/images/landing-page-image.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.landing-page-overlay {
  background-color: rgba(0, 0, 0, .55);
  height: 100%;
}

.landing-page-divider {
  width: 20%;
  border-top: 1px solid #F8F9FA;
}

.vertical-center {
  display: flex;
  align-items: center;
  height: 100vh;
}

.rounded-button {
  border-radius: 25px;
}

.about-page {
  background-image: url('../src/images/daddy-daughter.jpg');
  background-repeat: no-repeat;
  background-position: 0 25%;
  background-size: cover;
  height: 100vh;
}

.about-page-overlay {
  background-color: rgba(0, 0, 0, .7);
  height: 100%;
}

.about-tagline {
  position: absolute;
  top: 100px;
}

.news-feed {
  height: 100vh;
  overflow-y: scroll;
}

.news-feed::-webkit-scrollbar {
  display: none;
}

.sidebar-button {
  width: 100%;
  border-radius: 0;
  opacity: .8;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.sidebar-button:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}

.sidebar-button:focus {
  background-color: #ee686e;
  box-shadow: none;
}

.sidebar-button:first-of-type {
  border-radius: 10px 10px 0 0;
}

.sidebar-button:last-of-type {
  border-radius: 0 0 10px 10px;
}

.footer {
  position: relative;
  bottom: 0;
}

.like:hover i {
  transform: scale(1.5);
  transition-duration: 0.3s;
}

.unlike:hover i {
  transform: scale(1.5);
  transition-duration: 0.3s;
}